
   <!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="forma1.css" rel="stylesheet">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="./css/materialize.css">

     <!-- Compiled and minified JavaScript -->
     <script src="./js/materialize.js"></script>
</head>

<body>
    <div class="Header">
        <div class="inner-header">
            <div class="logo">
                <a href="#" class="up">LOGO</a>
            </div>
            <div class="head-link">
                
                <a href="#" class="up" style="color: white">Contact Us</a>
                
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-data">
            <div class="data">
                <h1>VESIT</h1>
            </div>
        </div>
    </div>
    <form class="my-form">
                <div class="form_group">
                    <label>Email: </label>
                    <input type="email" name="email">
                </div>
                <div class="form_group">
                    <label>id: </label>
                    <input type="text" name="id">
                </div>
                <input type="submit" value="Confirm Booking" class="button" name="">
    </form>           
    
</body>
</html>


   
   
   
