<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link href="/static/booksite/home1.css" rel="stylesheet">
</head>

<body>
   
    <div class="Header">
        <div class="inner-header">
            <div class="logo">
                <a href="#" class="up">LOGO</a>
            </div>
            <div class="head-link">
                <a href="#" class="up">Check Approval</a>
                <a href="#" class="up">Check Availability</a>
                <a href="/book" class="up">Book</a>
                <a href="#" class="up">Contact Us</a>
                
            </div>
        </div>
    </div>
    
    <div class="content">
        <div class="content-data">
            <div class="data">
                <h1>VESIT</h1>
            </div>
        </div>
    </div>
    <div class="loc-con">
        <div class="locd">
            <p>The seminar hall in the college is equipped with the latest Audio and Visual equipments for the conduct of Presentations, Seminars and personality development workshops.It is fully air conditioned, and fully equipped with state-of-the-art audio-visual devices providing services such as video conferencing, a sound system and audio-visual material. It has the capacity for accommodating 180 persons.</p>
        </div>
        
    </div>
    <div class="catalog">
        <div class="items">
            <form>
                Date:-<input type="date"><br>
                time: - <input type="text"><br>
                
                venue:- <input type="text"><br>
                <a href="#" class="ca">Check Availability</a>
            </form>
        </div>
        <div class="items">
            <a href="#">
                <img src="img/shirt.jpg" class="thumbnail">
                <div class="caption">
                    <h2>equipment</h2>
                    <p>about equipment</p>
                </div>
            </a>
        </div>
        <div class="items">
            <a href="#">
                <img src="img/watch.jpg"class="thumbnail">
                <div class="caption">
                    <h2>equipment</h2>
                    <p>about equipment</p>
                </div>
            </a>
        </div>
    </div>
    
    
    <footer>
        <div class="container">
            <p>Copyright © GYM. All Rights Reserved | Contact Us: +91 90000 00000</p>
        </div>
    </footer>
    
</body>
</html>
