<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="./css/materialize.css">

    <!-- Compiled and minified JavaScript -->
    <script src="./js/materialize.js"></script>
            
    <title>Document</title>
</head>
<body>
  <div class="navbar-fixed">
  <nav>
    <div class="black nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="hoverable right hide-on-med-and-down">
        <li><a href="#">Check Availability</a></li>
        <li><a href="#">Book</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  </div>
  <div class="header-fixed">
    <header>
        <div class="container">
            <div id="heading">
                <h2>FACILITIES</h2>
            </div>
        </div>
    </header>
  </div>
        <div class="call-outs-container">
                <div class="call-out">
                        <p><h4>VESIT AUDITORIUM</h4>
                            <p> The Institute has its own Auditorium on the ground floor with a seating capacity of 300 persons. The Auditorium is fully carpeted with push back seats and is centrally air-conditioned. It has a projector room which provides 70 mm film projections. It also has an excellent stereo surround sound system. .</p></p>
                            <a href="#audi">Read More...</a>
                        </div>
                 
              
                <div class="call-out">
                  <h4>VESIT MINI AUDITORIUM</h4>
                  <p>The Institute has an auditorium which is an architectural masterpiece with a capacity of 150, and is equipped with state of the art audio-visual equipment..</p>
                <a href="#mini">Read More...</a>
                </div>
                
              </div>
              <div class="divider"></div>
              <div class="section scrollspy" id="audi"><h3>VESIT AUDITORIUM</h3>  
                    </div>
                    <div class="col s12 m7">
                            
                            <div class="card horizontal">
                              <div class="card-image">
                                <img src="VKG_8429.jpg">
                              </div>
                              <div class="card-stacked">
                                <div class="card-content">
                                  <p>The Institute has its own Auditorium on the ground floor with a seating capacity of 300 persons. The Institute has its own Auditorium on the ground floor with a seating capacity of 300 persons. The Auditorium is fully carpeted with push back seats and is centrally air-conditioned. It has a projector room which provides 70 mm film projections. It also has an excellent stereo surround sound system. </p>
                                </div>
                                <div class="card-action">
                                  <a href="#">BOOK</a>
                                </div>
                              </div>
                            </div>
                          </div>
        
                      
                  
              <div class="divider"></div>
              <div class="section scrollspy" id ="mini"><h3>VESIT MINI AUDITORIUM</h3>
               <p>VESIT </p>
                <section class="container section" id="photo">
                    
                    <div class="row">
                        <div class="col s12 14">
                            <img src="vk44.jpg" class="responsive-img">

                        </div>
                        <div class="col s12 16">
                                <div class="card panel hoverable blue-grey darken-1">
                                        <div class="card-content white-text">
                                          <span class="card-title">B31</span>
                                          <p>This is some info about B31. B31 is one of the mini auditorium of VESIT that provides seating for 155 people. All kinds of seminar can be conducted here. The styling and design of this auditorium is especially made for intimate seminars with effective sound and lighting system.</p>
                                        </div>
                                        <div class="card-action">
                                          <a href="#">BOOK</a>
                                          
                                        </div>
                                      </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                            <div class="col s12 14 push-l7">
                                <img src="vk45.jpg" class="responsive-img">
    
                            </div>
                            <div class="col s12 16 pull-l5">
                                    <div class="card panel hoverable card blue-grey darken-1">
                                            <div class="card-content white-text">
                                              <span class="card-title">B41</span>
                                              <p>B31 is one of the mini auditorium of VESIT that provides seating for 155 people. All kinds of seminar can be conducted here. The styling and design of this auditorium is especially made for intimate seminars with effective sound and lighting system </p>
                                            </div>
                                            <div class="card-action">
                                              <a href="#">BOOK</a>
                                              
                                            </div>
                                          </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                                <div class="col s12 14">
                                    <img src="vk50.jpg" class="responsive-img">
        
                                </div>
                                <div class="col s12 16 ">
                                    <div class="class panel hoverable">
                                        <div class="card blue-grey darken-1">
                                                <div class="card-content white-text">
                                                  <span class="card-title">B51</span>
                                                  <p>B51 is the third newly developed VESIT auditorium. It is designed primarily for the B31 is one of the mini auditorium of VESIT that provides seating for 155 people. All kinds of seminar can be conducted here. The styling and design of this auditorium is especially made for intimate seminars with effective sound and lighting system </p>
                                                </div>
                                                <div class="card-action">
                                                  <a href="#">BOOK</a>
                                                  
                                                </div>
                                              </div>
                                              </div>
                                </div>
                            </div>
                            
                </section>
               
                  </div>
                  <div class="divider"></div>
                  
                  <footer class="orange page-footerS">
                    <div class="container">
                      <div class="row">
                        <div class="col 16 s12">
                          <h5>Contact Us</h5>
                        </div>
                      </div>
                    </div>
                  </footer>
        
              
                      
                    
              
</body>
</body>
</html>


